@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

nav .fas {
  display: none;
}

@media only screen and (max-width: 640px) {
  .header-container {
    padding: 0;
    height: auto;
  }

  nav .fas {
    display: block;
    font-size: 30px;
  }

  .header-container nav {
    position:fixed;
    top: 0;
    padding: 8px 20px;
    background-color: rgba(255, 255, 255, 0.39);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100%;
    z-index: 1000;
  }

  .header-container nav .logo {
    font-size: 22px;
    font-weight: 600;
  }

  .header-container nav ul {
    position: fixed;
    top: 0;
    right: -250px;
    width: 75%;
    height: 100vh;
    padding-top: 50px;
    background-color: lightseagreen;
    display: none;
  }

  .header-container nav ul li {
    display: block;
    margin: 20px;
  }

  .header-container nav ul li a {
    font-size: 25px;
    font-weight: 600;
  }

  .header-container nav ul .fas {
    position: absolute;
    top: 25px;
    left: 35px;
  }

  .hero-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 30px;
  }

  .hero-section .card-content {
    height: 200px;
    width: 200px;
    margin: 30px 50px 10px 20px;
  }

  .hero-section .card-content img {
    width: 250px;
    height: 250px;
  }

  .hero-section .left-content h1 {
    font-size: 40px;
    font-weight: 900;
    width: 100%;
    margin-bottom: 25px;
  }

  .hero-section .left-content p {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .left-content {
    width: 100%;
  }

  .left-content .social-media {
    max-width: 100%;
    width: 100vw;
    padding: 10px 20px 0 0;
  }

  .left-content .social-media li:hover {
    transform: scale(1.2);
  }

  /* <<<<<<<-----------------About Section------------->>>>>>>>>>>> */
  .about-container {
    height: auto;
    padding: 20px 40px;
  }

  .about-card {
    height: 350px;
    width: 100%;
    margin-bottom: 20px;
  }

  .info {
    font-size: 15px;
    width: 80vw;
    margin: 0;
  }

  .tab-titles {
    display: flex;
    margin: 5px 0 5px;
  }

  .tab-links {
    font-size: 15px;
    font-weight: 900;
    margin: 10px 40px 10px 0;
  }

  /* <<<<<<<------------------Skill Section--------------->>>>>>>> */

  .skill-container {
    padding: 20px 20px;
    height:auto;
  }

  .innerSkill-content {
    width: 100%;
    margin-top: 15px;
  }

  .innerSkill-content .box {
    margin: 10px 5px;
  }

  .innerSkill-content .box img {
    height: 50px;
    width: 50px;
  }
}
